<div class="row">
    <div class="col-md-8">
      <div>
        <h3><%= @r_app.name %></h3>
      </div>

      <div class="row">
       <h4><%= @r_app.url %></h4>
       <% if @events.present? %>
       <h4>Events:</h4>
       <% @events.each do |name, event| %>
           <!-- <%= event %> -->
           <p><%= link_to name, "/#{name}", onclick: 'sitemetrics.report('+"'"+name+"'"+')' %></p>
           <% end %>
            <p><%= pie_chart @r_app.events.group(:name).count%>
            </p>
            <%= line_chart @r_app.events.group_by_day(:created_at).count %>
       <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <%= link_to "Back to index", r_apps_path, class: 'btn btn-primary' %>
      <%= link_to "Edit", edit_r_app_path(@r_app), class: 'btn btn-success' %>
      <%= link_to "Delete", r_app_path(@r_app) , method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this app?'} %>
    </div>
  </div>